.HomeComponent {
    /* background-color: grey; */
}

.IntroHome{
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    width: 60%;
    margin-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: #011B40;
    background: -webkit-linear-gradient(left, #011B40, #014597);
    background: -moz-linear-gradient(left, #011B40, #014597);
    background: linear-gradient(to right, #011B40, #014597);

}

.IntroHome h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.2rem;
}

.IntroHome h3{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.2rem;
}

.tag {
    color:#73b9ff;
}

.getStarted {
    margin: 0 auto;
    width: 50%;
    margin-top: 15px;
    padding-top: 15px;
    align-items: center;
    text-align: center;
    display: flex;
}

.ready {
    padding: 5px 10px 5px 10px;
    text-align: end;
    width: 50%;
}

.loginDiv{
    width: 50%;
}

.login{
    margin-left: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    background: #1d4072;
    color: rgb(238, 238, 238);
    width: 40%;
}


.loginDiv .login:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: #375886;
    transition: .2s;
}

.homeNew {
    margin: 0 auto;
    margin-top: 40px;
    width: 60%;
    text-align: center;
}

