.ScriptsContainer{
    padding-top: 15px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin: 0 auto;
}
.disclosureDiv {
    padding-top: 10px;
    margin-top: 40px;
    text-align: center;
    border: 1px solid red;
    height: fit-content;
}

.disclosureDiv h4{
    margin-top: -10px;
    padding-bottom: 10px;
}

.HeadContent{
    padding-top: 15px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.help, .safe {
    background-color: rgb(235, 232, 232);
    width: 50%;
    text-align: center;
}

.help h3 {
    color: rgb(0, 0, 0);
}

.safe h3 {
    color: rgb(0, 0, 0);
}