.headerContainer {
    width: 30%;
}

.headerDetails {
    /* border: 2px solid red; */
    display: flex;
}

.headerDetails h1 {
    margin-left: 30px;
    font-family: 'Orbitron', sans-serif;
    color:#4183c4;
}