.LinuxContainer{
    padding-top: 15px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linNew{
    margin: 0 auto;
    margin-top: 40px;
    width: 60%;
    text-align: center;
}

.scrNew{
    margin: 0 auto;
    margin-top: 40px;
    width: 60%;
    text-align: center;
}